@import "../helpers/helpers.scss";

.ContactPage {
	.contact_section {
		display: flex;
		grid-gap: 50px;
		.contact_info {
			width: 35%;
			ul {
				padding-left: 25px;
				li {
					font-size: 24px;
					line-height: 35px;
					color: #7a7e7f;
					font-weight: 500;
					position: relative;
					list-style: none;
					img {
						position: absolute;
						top: 10px;
						left: -25px;
					}
					span {
						font-size: 30px;
						line-height: 36px;
						color: #272727;
					}
				}
			}
		}
		.contact_form {
			width: 65%;
			ul {
				display: flex;
				grid-gap: 60px;
				li {
					list-style: none;
					position: relative;
					a {
						font-size: 30px;
						font-weight: 500;
						color: #ff9e00;
						img {
							top: 5px;
							left: -30px;
							position: absolute;
						}
						span {
							color: #272727;
						}
					}
				}
			}
			::placeholder {
				color: #575757;
				font-size: 14px;
				font-family: "Lato", sans-serif;
				font-weight: 400;
			}

			::-ms-input-placeholder {
				color: #575757;
				font-size: 14px;
				font-family: "Lato", sans-serif;
				font-weight: 400;
			}
			.form {
				padding: 60px;
				background-color: #ebf0f0;
				.form_main {
					.form_group {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						.form_field {
							width: 49%;
							margin-bottom: 35px;
							input {
								width: 100%;
								border: 0;
								background-color: transparent;
								border-bottom: 1px solid #d0d4d4;
								&:focus {
									outline: 0;
								}
							}
						}
						.form_field_text {
							width: 100%;
							textarea {
								width: 100%;
								border: 0;
								background-color: transparent;
								border-bottom: 1px solid #d0d4d4;
								&:focus {
									outline: 0;
								}
							}
						}
					}
					.submit_button {
						button {
							border: 0;
							background-color: transparent;
						}
					}
				}
			}
		}
	}
}
